/* =======================================
    RESETTING
=======================================*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* =======================================
    VARIABLES
=======================================*/
:root {
    /* FONTS */
    --brand-font: "Poppins", sans-serif;
   
    /* BRAND COLORS */
    --primary: #E19D68;
    --secondary: rgba(129, 75, 25, 0.1);
    --accent: #0C475F;
    --success: #024B35;
    --success-soft: rgba(0, 255, 0, 0.1);
    --warning: #fad048;
    --error: tomato;
    /* =================================
        SURFACES (Backgrounds)
    ==================================*/
    --surface: #ffffff;
    --surface-alt: #f7f7f7;
    --card-bg: var(--surface-alt);
    
    /* =================================
        TEXT COLORS
    ==================================*/
    --text: #000;
    --text-primary: var(--primary);
    --text-inverse: #fff;
    --text-inverse-alt: #f7f8f2;
    --text-muted: #666666;
    --text-danger: tomato;
    --text-success: #024B35;
    --text-success-soft: rgba(0, 255, 0, 0.1);
    
    /* =================================
        PADDING
    ==================================*/
    --page-padding: 10rem;
    
    /*   BUTTONS  PADDING  */
    --primary-btn-paddingX: clamp(2rem, 6vw, 7rem);
    --primary-btn-paddingY: clamp(1rem, 5vw, 1.6rem);
    --btn-inline-padding: clamp(1rem, 5vw, 2.5rem);
    --btn-block-padding: clamp(1rem, 5vw, 1.2rem);
    
    /* =================================
        FONT SIZE
    ==================================*/
    --text-semi: 6rem;
    --text-medium: 5rem;
    --text-regular: 4rem;
    --text-light: 3rem;
    --text-extraLightHalf: clamp(1.2rem, 4.5vw, 2.5rem);
    --text-extraLight: clamp(1.5rem, 5vw, 2rem);
    --text-thinQuart: clamp(.8rem, 5vw, 1.7rem);
    --text-thinHalf: clamp(.8rem, 5vw, 1.5rem);
    --text-thin: clamp(.5rem, 5vw, 1rem);
    --text-extraThin: clamp(.3rem, 5vw, .8rem);
    
    /* =================================
        SHADOW
    ==================================*/
    --shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    
    /* =================================
        CARDS
    ==================================*/
    --card-image-ratio: 16/9;
    --card-padding-inline: 1rem;
    --card-padding-block: 1rem;
    
    /* =================================
        BORDER & BORDER RADIUS
    ==================================*/
    /* BORDER */
    --border: #cccccc;
    --border-strong: #b5b5b5;
    --border-thin: 1px solid var(--border);
    --border-thinHalf: 1.5px solid var(--border-strong);
    
    /* BORDER RADIUS  */
    --bd-r-regular: 5px;
    --bd-r-medium: 10px;
    
        /* HERO IMAGE */
    --hero-image: url("../assets/images/hero_bg_primary.jpg");
    --hero-overlay-start: rgba(0, 0, 0, 0.5);
    --hero-overlay-end: rgba(0, 0, 0, 0.8);
    
    /* ===================================
        SECTION BCKGROUND
    ===================================*/
    --section-background: var(--surface-alt);
}

.dark-mode {

    --surface: #111;
    --surface-alt: #111;
    --card-bg: var(--surface-alt);
    --text:#ffffff;
    --hero-overlay-start: rgba(0, 0, 0, 0.75);
    --hero-overlay-end: rgba(0, 0, 0, 0.9);
    --section-background: var(--surface-alt);
    
    --success-soft: var(--success);
    
    --border: #222;
    --border-strong:#333;
}
/* =======================================
    GLOBALS
=======================================*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--brand-font);
    font-size: 15pt;
    background: var(--surface);
}

h1 {
    font-size: var(--text-regular);
    font-weight: 700;
    color: var(--text-inverse);
    line-height: 1.3;
}

h2 {
    font-size: var(--text-light);
    font-weight: 600;
    color: var(--text);
}

h3 {
    font-weight: 500;
    font-size: var(--text-extraLight);
    color: var(--text);
}

p {
    font-weight: 500;
    font-size: var(--text-extraLightHalf);
    color: var(--text);
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    /* width: 10rem; */
    aspect-ratio: 1/1;
}

/* SVG ICONS */
.icon {
    width: 3rem;
    height: 3rem;
    fill: currentColor;
}

.btn {
    position: relative;
    font-weight: 600;
    font-size: var(--text-thinHalf);
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.4s ease-in;
}

/* Primary Btns */
.primary-btn {
    --text: #000000;
    background: var(--primary);
    padding-inline: var(--primary-btn-paddingX);
    padding-block: var(--primary-btn-paddingY);
    border-radius: 50px;
    color: var(--text);
    font-size: var(--text-extraLightHalf);
    font-weight: 600;
    transition: background 0.3s ease-in, border 0.3s ease-in, color 0.3s ease-in, transform 0.3s ease-in;
}

.primary-btn:hover {
    background: transparent;
    color: var(--text-primary);
    border: 1.5px solid var(--primary);
    transform: scale(1.1);
}

.primary-border-btn {
    border: 1.5px solid var(--primary);
    border-radius: 50px;
    color: var(--text-inverse);
    padding-inline: var(--primary-btn-paddingX);
    padding-block: var(--primary-btn-paddingY);
    font-size: var(--text-extraLightHalf);
    font-weight: 500;
    transition: background 0.3s ease-in, border 0.3s ease-in, color 0.3s ease-in, transform 0.3s ease-in;

}

.primary-border-btn:hover {
    background: var(--surface);
    color: var(--text);
    border: none;
    transform: scale(1.1);
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-block: var(--page-padding);
}

/* Section Title */
.section-title {
    width: 100%;
    max-width: 60vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 7rem;
}

.animate-reveal.show {
    animation: reveal 1s ease-in forwards;
}
@keyframes reveal{
    from{
        opacity: 0;
        /* scale: 0.5; */
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        /* scale: 1; */
        transform: translateY(0);
    }
}



/* =======================================
    HEADER
=======================================*/
.header {
    width: 100%;
    background: var(--surface-alt);
}

.header.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    box-shadow: var(--shadow);
}

.header .container {
    padding-inline: 0;
    padding-block: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* Logo */
.logo {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text);
}

/* Navlist */
.navbar .navlist {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

/* Navlinks */
.navlink {
    font-size: var(--text-extraLight);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--text);
}

/* menubar */
.menu-bar {
    cursor: pointer;
    display: none;
}

.menu-bar .icon {
    width: 4rem;
    height: 4rem;
}

.header .icon-box {
    display: none;
}

.header .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}

/* Dark Mode: Theme switch */
.header .theme-switch {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--surface-alt);
    border: var(--border-thin);
}

.header .theme-switch .icon {
    width: 100%;
    height: 100%;
    fill: var(--text);
}
.theme-switch .icon:last-child {
    display: none;
}
.theme-switch .moon.remove{
    display: none;
}
.theme-switch .light.active{
    display: block;
}
/* =======================================
    HERO SECTION
=======================================*/
.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* background: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* hero image */
.hero .hero-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
/*  Bring it to behind the content */
    z-index: -1;
}
/* Overlay */
.hero .overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(to bottom right,
    var(--hero-overlay-start),
    var(--hero-overlay-end));
    z-index: 1;
}
.hero .container {
    border-radius: 10px;
    z-index: 2;
}

.hero .hero-content {
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero .hero-content h1 {
    font-size: var(--text-semi);
    color: var(--text-inverse);
    display: block;
}

.hero .hero-content h1 strong {
    color: var(--text-primary);
    font-weight: 800;
}

.hero .hero-content p {
    color: var(--text-inverse);
}

.hero .hero-btns {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* =======================================
    ABOUT SECTION
=======================================*/
.about{
    /* background: gold; */
}
.about .about-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about .about-content .image {
    width: 100%;
}

.about .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease-in;
}
.about .image img:hover{
    transform: translateY(-5px);
}
.about .image small{
    display: block;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    color: var(--text);
    font-size: var(--text-thinHalf);
    font-weight: 500;
    transition: transform 0.3s ease-in,
        opacity 0.3s ease-in, visibility 0.3s ease-in;
}
.about .image img:hover + small{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
/* =======================================
    MENU SECTION
=======================================*/
.menus {
    /* background: var(--surface-alt); */
    background: var(--section-background);
}

.menus .menu-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
}

.menus .menu-content .menu-card {
    position: relative;
    width: 100%;
    padding-inline: var(--card-padding-inline);
    padding-block: var(--card-padding-block);
    border-radius: var(--bd-r-medium);
    box-shadow: var(--shadow);
    background: var(--card-bg);
}

.menus .menu-card .menu-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--bd-r-medium);
    box-shadow: var(--shadow);
}

.menu-card .menu-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-card .content-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .6rem;
}

.menu-card .content-group small {
    font-size: var(--text-extraLightHalf);
    font-weight: 700;
    color: var(--text-success);
    padding: .2rem 1rem;
    border: 1px dashed #ccc;
    border-radius: 5px;
}

.menu-card-content .control-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .7rem;
}

.menu-card .input-group {
    display: flex;
    align-items: center;
    gap: .6rem;
    flex-wrap: wrap;
}

.menu-card .input-group .btn {
    padding-inline: clamp(.5rem, 5vw, 1.8rem);
    padding-block: clamp(.5rem, 5vw, .9rem);
    /* background: var(--success-soft); */
    background: var(--accent);
    font-size: var(--text-extraLight);
    font-weight: 500;
    color: var(--text-inverse);
    text-align: center;
    border-radius: var(--bd-r-regular);
}

.menu-card .input-group input {
    width: 5.5rem;
    height: 4.2rem;
    padding: .5rem;
    font-size: var(--text-thinHalf);
    background: var(--surface);
    border: 1px solid var(--border-strong);
    color: var(--text);
    border-radius: var(--bd-r-regular);
}

.menu-card .order-btn {
    position: relative;
    margin-left: auto;
    margin-top: 1rem;
    padding-inline: var(--btn-inline-padding);
    padding-block: var(--btn-block-padding);
    /* background: var(--success-soft); */
    background: var(--accent);
    border-radius: 50px;
    color: var(--text-inverse);
    transition: background 0.3s ease-in, color 0.3s ease-in;
}

.menu-card .order-btn:hover {
    background: var(--success);
    color: var(--text-inverse);
}

.menu-card small.msg {
    font-size: clamp(.7rem, 5vw, 1.2rem);
    color: var(--text-danger);
}

.menu-card .btn {
    touch-action: manipulation;
}

/* =======================================
    REVIEWS / TESTIMONIALS SECTION 
=======================================*/
.reviews .reviews-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    gap: 1rem;
}

.reviews .review-card {
    width: 100%;
    position: relative;
    background: var(--surface-alt);
    border-radius: var(--bd-r-medium);
    box-shadow: var(--shadow);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.review-card .review-card-body {
    width: 100%;
    height: 100%;
    padding-inline: var(--card-padding-inline);
    padding-block: var(--card-padding-block);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.review-card .quotes-icon .icon {
    width: 4rem;
    height: 4rem;
    fill: var(--secondary);
}

.review-card p {
    font-style: italic;
    color: var(--text);
}
.review-card .review-card-body small{
    color: var(--text);
}
.review-card .review-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* background: var(--success-soft); */
    background: var(--secondary);
    border-radius: 0 0 10px 10px;
    padding: 1rem;
}

.review-footer .ratings {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.review-footer .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-footer .icon-box .icon {
    width: 2rem;
    height: 2rem;
    fill: var(--warning);
}

.review-footer img {
    width: clamp(3rem, 10vw, 7rem);
    height: clamp(3rem, 10vw, 7rem);
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--surface-alt);
    box-shadow: var(--shadow);
}

/* =======================================
    CONTACT SECTION
=======================================*/
.contact .contact-content {
    width: 100%;
}

.contact .contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-form .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: clamp(1rem, 5vw, 1.5rem);
    font-size: var(--text-thinHalf);
    border-radius: var(--bd-r-regular);
    border: 1px solid var(--border-strong);
    outline: none;
    color: var(--text);
    background: var(--surface);
}

.contact-form textarea {
    height: 20rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 1.5px solid var(--accent);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    transition: transform 0.3s ease-in,
        color 0.3s ease-in;
    
}

.contact-form input:focus::placeholder {
    transform: translateY(-35px);
    color: var(--accent);
}

.contact-form textarea:focus::placeholder {
    transform: translateY(150px);
    color: var(--accent);
}

.contact-form .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    padding-block: var(--btn-block-padding);
    border-radius: var(--bd-r-regular);
    background: var(--accent);
    font-size: var(--text-extraLight);
    font-weight: 600;
    color: var(--text-inverse);
}

/* =======================================
    FOOTER
=======================================*/
.footer {
    padding: clamp(1.5rem, 5vw, 2rem);
    background: var(--surface-alt);
    text-align: center;
}

.footer p {
    font-size: var(--text-thinQuart);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.footer p span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p .icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .readme{
    font-size: 1.3rem;
    color: var(--text);
    font-weight: 500;
    text-transform: lowercase;
    text-decoration: underline;
}
/* =======================================
    MEDIA QUERIES
=======================================*/
@media (max-width: 1200px) {
    .container {
        width: 100%;
        max-width: 90vw;
    }
    
    .section-title {
        width: 100%;
        max-width: 90vw;
    }
    
}

@media (max-width:768px) {
    html {
        font-size: 59.5%;
    }
    
    .primary-btn,
    .primary-border-btn {
        --primary-btn-paddingY: clamp(1rem, 2vw, 1.6rem);
        padding-block: var(--primary-btn-paddingY);
    }
    
    .header .container {
        padding-block: 2rem;
    }
    
    .logo {
        font-size: 2rem;
    }
    
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 50%;
        height: 100%;
        background: var(--surface-alt);
        padding-inline: 2rem;
        padding-block: 4rem;
        z-index: 1000;
        display: flex;
        /* transform: translateX(100%); */
        opacity: 0;
        visibility: hidden;
        transition: right 0.3s ease-in,
            opacity 0.3s ease-in,
            visibility 0.3s ease-in;
    }
    
    .navbar.active {
        /* display: flex; */
        /* transform: translateX(0); */
        right:0;
        opacity: 1;
        visibility: visible;
    }
    
    .navbar .navlist {
        flex-direction: column;
        align-items: start;
    }
    
    .navlink {
        font-size: 2rem;
    }
    
    .menu-bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-bar .icon{
        fill: var(--text);
    }
    .header .icon-box {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 1.5rem;
        right: 2rem;
    }
    
    .header .icon-box .icon {
        width: 3rem;
        height: 3rem;
        fill: tomato;
    }
    
    /* HERO SECTION */
    .hero .hero-content {
        width: 100%;
        max-width: 100%;
    }
    
    .hero .hero-content h1 {
        font-size: var(--text-medium);
    }
    
    .hero .hero-btns {
        flex-direction: column;
    }
    
    .contact-form .input-group {
        flex-direction: column;
    }
    
}

@media (max-width: 668px) {
    .navbar {
        width: 100%;
        max-width: 100%;
    }
}

@media (prefers-reduced-motion: reduce){
    *{
        animation: none !important;
        transition: none !important;
    }
}