/* =======================================
    RESETTING
=======================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* =======================================
    VARIABLES
=======================================*/
:root {
    /* FONTS */
    --brand-font: "Poppins", sans-serif;
    /* ------------------------------ */
    
    /* BRAND COLORS */
    --primary:#c1967a;
    --secondary: rgba(129, 75, 25, 0.1);
    --accent-color: dodgerblue;
    
    /* BG COLORS */
    --bg-primary: var(--primary);
    /* --bg-lightWhite: #f7f8f2; */
    --bg-lightWhite: #f7f7f7;
    --bg-white: #ffffff;
    --bg-gold: #fad048;
    --bg-green: #04dd9b;
    --bg-green-100: rgba(0, 255, 0, 0.1);
    --bg-blue: var(--accent-color);
    --bg-lightBrown: var(--secondary);
    /* ------------------------------ */

    /* COLORS */
    --text-primary: var(--primary);
    --text-black: #000;
    --text-white: #fff;
    --text-lightWhite: #f7f8f2;
    --text-green: #04dd9b;
    --text-green-100: rgba(0, 255, 0, 0.1);

    /* ------------------------------ */

    
    /*     PADDING  */
    --page-padding: 10rem;
    
    /*   BUTTONS  PADDING  */
    --primary-btn-paddingX: clamp(2rem, 6vw, 7rem);
    --primary-btn-paddingY: clamp(1rem, 5vw, 1.6rem);
    --btn-inline-padding: clamp(1rem, 5vw, 2.5rem);
    --btn-block-padding: clamp(1rem, 5vw, 1.2rem);
    /* ------------------------------ */
    
    /* FONT SIZE */
    --text-semi: 6rem;
    --text-medium: 5rem;
    --text-regular: 4rem;
    --text-light: 3rem;
    --text-extraLightHalf: clamp(1.2rem, 4.5vw, 2.5rem);
    --text-extraLight: clamp(1.5rem, 5vw, 2rem);
    --text-thinQuart: clamp(.8rem, 5vw, 1.7rem);
    --text-thinHalf: clamp(.8rem, 5vw, 1.5rem);
    --text-thin: clamp(.5rem, 5vw, 1rem);
    /* ------------------------------ */
    
    /* BOX SHADOW */
    --shadow: 0 4px 15px rgba(0,0,0,0.2);
    /* ------------------------------ */
    
    /* CARDS */
    --card-image-ratio: 16/9;
    --card-bg: var(--bg-lightWhite);
    --card-padding-inline: 1rem;
    --card-padding-block: 1rem;
    /* ------------------------------ */
    
    /* BORDER */
    --border-thin: 1px solid #ccc;
    --border-thinHalf: 1.5px solid #ccc;
    --border-grey: grey;
    /* ------------------------------ */

    /* BORDER RADIUS  */
    --bd-r-regular:5px;
    --bd-r-medium:10px;
}

/* =======================================
    GLOBALS
=======================================*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--brand-font);
    font-size: 15pt;
}

h1 {
    font-size: var(--text-regular);
    font-weight: 700;
    color: var(--text-white);
    line-height: 1.3;
}
h2{
    font-size: var(--text-light);
    font-weight: 600;
}
h3{
    font-weight: 500;
    font-size: var(--text-extraLight);
}
p {
    font-weight: 500;
    font-size: var(--text-extraLightHalf);
    color: var(--text-black);
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}
img{
    width: 10rem;
}
/* SVG ICONS */
.icon{
    width: 3rem;
    height: 3rem;
    fill: currentColor;
}
.btn {
    position: relative;
    font-weight: 600;
    font-size: var(--text-thinHalf);
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.4s ease-in;
}
/* Primary Btns */
.primary-btn {
    background: var(--bg-primary);
    padding-inline: var(--primary-btn-paddingX);
    padding-block: var(--primary-btn-paddingY);
    border-radius: 50px;
    color: var(--text-white);
    font-size: var(--text-extraLightHalf);
    font-weight: 600;
    transition: background 0.3s ease-in, border 0.3s ease-in, color 0.3s ease-in;
}
.primary-btn:hover{
    background: transparent;
    color: var(--text-primary);
    border: 1.5px solid var(--bg-primary);
}
.primary-border-btn {
    border: 1.5px solid var(--bg-primary);
    border-radius: 50px;
    color: var(--text-white);
    padding-inline: var(--primary-btn-paddingX);
    padding-block: var(--primary-btn-paddingY);
    font-size: var(--text-extraLightHalf);
    font-weight: 500;
    transition: background 0.3s ease-in, border 0.3s ease-in, color 0.3s ease-in;

}
.primary-border-btn:hover{
    background: var(--bg-white);
    color: var(--text-black);
    border: none;
}
/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-block: var(--page-padding);
}

/* Section Title */
.section-title{
    width: 100%;
    max-width: 60vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 7rem;
}

/* =======================================
    HEADER
=======================================*/
.header {
    width: 100%;
    background: var(--bg-lightWhite);
}

.header .container {
    padding-inline: 0;
    padding-block: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* background: #f4f4f4; */
}

.logo {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-black);
}

.navbar .navlist {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.navlink {
    font-size: var(--text-extraLight);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--text-black);
}

.menu-bar {
    cursor: pointer;
    display: none;
}

.menu-bar .icon {
    width: 4rem;
    height: 4rem;
}

.header .icon-box {
    display: none;
}

/* =======================================
    HERO SECTION
=======================================*/
.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* background: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../assets/images/hero_bg_primary.jpg") center no-repeat;
    background-size: cover;
    
}

.hero .container {
    border-radius: 10px;
}

.hero .hero-content {
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero .hero-content h1 {
    font-size: var(--text-semi);
    color: var(--text-white);
    display: block;
}
.hero .hero-content h1 strong{
    color: var(--text-primary);
    font-weight: 800;
}
.hero .hero-content p {
    color: var(--text-white);
}

.hero .hero-btns {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* =======================================
    ABOUT SECTION
=======================================*/
.about .about-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.about .about-content .image{
    width: 100%;
}
.about .about-content .image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--shadow);
}
/* =======================================
    MENU SECTION
=======================================*/
.menus{
    background: var(--bg-lightWhite);
}
.menus .menu-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
}
.menus .menu-content .menu-card{
    position: relative;
    width: 100%;
    padding-inline: var(--card-padding-inline);
    padding-block: var(--card-padding-block);
    border-radius: var(--bd-r-medium);
    box-shadow: var(--shadow);
    background: var(--card-bg);
}
.menus .menu-card .menu-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--bd-r-medium);
    box-shadow: var(--shadow);
}
.menu-card .menu-card-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu-card .content-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .6rem;
}
.menu-card .content-group small{
    font-size: var(--text-light);
    font-weight: 600;
    color: var(--text-green);
    padding: .2rem 1rem;
    border: 1px dashed #ccc;
}
.menu-card-content .group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .7rem;
}
.menu-card .input-group{
    display: flex;
    align-items: center;
    gap: .6rem;
    flex-wrap: wrap;
}
.menu-card .input-group .btn{
    padding-inline: clamp(.5rem, 5vw, 1.8rem);
    padding-block: clamp(.5rem, 5vw, .7rem);
    background: var(--bg-green-100);
    font-size: var(--text-extraLight);
    font-weight: 400;
    color: var(--text-black);
    text-align: center;
}
.menu-card .input-group input{
    width: 5.5rem;
    height: 4.2rem;
    padding: .5rem;
    font-size: var(--text-thinHalf);
}
.menu-card .order-btn{
    position: relative;
    margin-left:auto;
    margin-top: 1rem;
    padding-inline: var(--btn-inline-padding);
    padding-block: var(--btn-block-padding);
    background: var(--bg-green-100);
    border-radius: 50px;
    color: var(--text-black);
    transition: background 0.3s ease-in, color 0.3s ease-in;
}
.menu-card .order-btn:hover{
    background: var(--bg-green);
    color: var(--text-white);
}
/* =======================================
    REVIEWS / TESTIMONIALS SECTION 
=======================================*/
.reviews .reviews-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    gap: 1rem;
}
.reviews .review-card{
    width: 100%;
    position: relative;
    background: var(--bg-lightWhite);
    border-radius: var(--bd-r-medium);
    box-shadow: var(--shadow);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.review-card .review-card-body{
    width: 100%;
    height: 100%;
    padding-inline: var(--card-padding-inline);
    padding-block: var(--card-padding-block);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.review-card .quotes-icon .icon{
    width: 4rem;
    height:4rem;
    fill:var(--bg-lightBrown);
}
.review-card p{
    font-style: italic;
}
.review-card .review-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* background: var(--bg-green-100); */
    background: var(--bg-lightBrown);
    border-radius: 0 0 10px 10px;
    padding: 1rem;
}
.review-footer .ratings{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.review-footer .icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-footer .icon-box .icon{
    width: 2rem;
    height: 2rem;
    fill: var(--bg-gold);
}
.review-footer img{
    width: clamp(3rem, 10vw, 7rem);
    height: clamp(3rem, 10vw, 7rem);
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--bg-lightWhite);
    box-shadow: var(--shadow);
}
/* =======================================
    CONTACT SECTION
=======================================*/
.contact .contact-content{
    width: 100%;
}
.contact .contact-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact-form .input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: clamp(1rem, 5vw, 1.5rem);
    font-size: var(--text-thinHalf);
    border-radius: var(--bd-r-regular);
    border: var(--border-thinHalf);
    outline: none;
    color: var(--text-black);
}
.contact-form textarea{
    height: 20rem;
}
.contact-form input:focus,
.contact-form textarea:focus{
    border: 1.5px solid var(--accent-color);
}
.contact-form input::placeholder,
.contact-form textarea::placeholder{
    transition: transform 0.3s ease-in,
                color 0.3s ease-in;

}

.contact-form input:focus::placeholder{   transform: translateY(-35px);
    color: var(--accent-color);
}
.contact-form textarea:focus::placeholder{
    transform: translateY(150px);
    color: var(--accent-color);
}
.contact-form .btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    padding-block: var(--btn-block-padding);
    border-radius: var(--bd-r-regular);
    background: var(--bg-blue);
}

/* =======================================
    FOOTER
=======================================*/
.footer{
    padding:clamp(1.5rem, 5vw, 2rem);
    background: var(--bg-lightWhite);
    text-align: center;
}
.footer p{
    font-size: var(--text-thinQuart);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.footer p span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p .icon{
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--primary);
}
/* =======================================
    MEDIA QUERIES
=======================================*/
@media (max-width: 1200px) {
    .container {
        width: 100%;
        max-width: 90vw;
    }
    .section-title{
        width: 100%;
        max-width: 90vw;
    }

}

@media (max-width:768px) {
    html {
        font-size: 59.5%;
    }
    
    .primary-btn,
    .primary-border-btn{
        --primary-btn-paddingY: clamp(1rem, 2vw, 1.6rem);
        padding-block: var(--primary-btn-paddingY);
    }
    .header .container{
        padding-block: 2rem;
    }
    .logo {
        font-size: 2rem;
    }
    
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 50%;
        height: 100%;
        background: var(--bg-lightWhite);
        padding-inline: 2rem;
        padding-block: 4rem;
        z-index: 1000;
        display: flex;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease-in         ,
                    opacity 0.3s ease-in,
                    visibility 0.3s ease-in
        ;
    }
    .navbar.active{
        /* display: flex; */
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    .navbar .navlist {
        flex-direction: column;
        align-items: start;
    }
    
    .navlink {
        font-size: 2rem;
    }
    
    .menu-bar {
        display: block;
    }
    
    .header .icon-box {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 1.5rem;
        right: 2rem;
    }
    
    .header .icon-box .icon {
        width: 3rem;
        height: 3rem;
        fill: tomato;
    }
    
    /* HERO SECTION */
    .hero .hero-content {
        width: 100%;
        max-width: 100%;
    }
    
    .hero .hero-content h1 {
        font-size: var(--text-medium);
    }
    
    .hero .hero-btns {
        flex-direction: column;
    }
    
    .contact-form .input-group{
        flex-direction: column;
    }

}

@media (max-width: 668px) {
    .navbar{
        width: 100%;
        max-width: 100%;
    }
}